root = true

[*]
charset = utf-8
end_of_line = crlf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.{c++,cc,cpp,cxx,h,h++,hh,hpp,hxx,inl,ipp,tlh,tli}]
cpp_indent_lambda_braces_when_parameter = false
cpp_new_line_before_else = false
cpp_space_after_cast_close_parenthesis = false
cpp_space_before_function_open_parenthesis = remove
cpp_space_after_keywords_in_control_flow_statements = false
cpp_space_after_cast_close_parenthesis = true
cpp_space_before_block_open_brace = false
cpp_space_within_initializer_list_braces = false
cpp_space_pointer_reference_alignment = right
cpp_wrap_preserve_blocks = one_liners
